<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
    <link rel="stylesheet" href="assets/css/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../../Assets/css/home/thanks.css">
</head>

<body>
    <div class="grid">
        <div class="container">
            <img src="../../Assets/image/thanhtoan.png" alt="">
            <h1>Thanh toán thành công!</h1>
            <i>Cảm ơn quý khách đã tin tưởng mua sắm trên StoreToys. Được tiếp tục đồng hành cùng quý khách trong thời gian tới là niềm vinh hạnh của chúng tôi.</i>
            <a href="Home.html">Quay lại trang chủ</a>
        </div>
    </div>
</body>
</html>